.fieldset {
	min-width: 0;
	margin: 0;
	padding: 0.01em 0 0;
	border: 0;
}

body:not(:-moz-handler-blocked) .fieldset {
	display: table-cell;
}

.add-task {
	display: flex;
	flex-direction: column;
	inline-size: 400px;
	color: var(--text-heading-color);
	font-weight: 400;
	font-size: 14px;
	background: var(--white);
	border-radius: 12px;
}

.add-task-heading {
	font-weight: 500;
}

.add-task-section {
	font-weight: 500;
	background: var(--section-color);
}

.add-task-label-required {
	position: relative;
}

.add-task-label-required::after {
	position: absolute;
	content: '*';
	padding-left: 5px;
	color: var(--button-active-color);
}

.add-task-input {
	padding: 6px 12px;
	color: var(--text-main-color);
	font-weight: 400;
	font-size: 14px;
	background: var(--white);
	border-radius: 6px;
	box-shadow:
		0 1px 2px rgb(0 0 0 / 6%),
		0 0 0 1px rgb(134 143 160 / 16%);
}

.modal-add-task-footer {
	display: flex;
	justify-content: end;
	gap: 20px;
	padding: 16px 20px;
}
