.page {
	cursor: url('../lib/icons/Arrow.svg'), auto;
}

.select {
	display: flex;
	color: inherit;
	font: inherit;
	background-image: url('../../shared/lib/icons/down.svg');
	background-repeat: no-repeat;
	background-position: center right;
	border: none;
	outline: none;
	appearance: none;
}

.isClicked {
	cursor: url('../lib/icons/Clicker.svg'), auto;
}

.isShadowed {
	transition: all 0.3s ease-out;
}

.isShadowed:focus {
	outline: none;
	box-shadow: 0 0 0 4px var(--button-shadow);
}

.blue {
	color: var(--text-main-color);
	background-color: var(--button-active-color);
	transition: all 0.5s ease-out;
}

.blue:hover {
	color: var(--button-common-color);
	background-color: var(--button-blue-hover);
}

.blue:disabled {
	color: var(--text-main-color);
	background-color: var(--button-active-color);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	white-space: nowrap;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
}

.upperCase {
	text-transform: uppercase;
}
