.tab {
	font-weight: 700;
	letter-spacing: 0.02em;
}

.tab:active {
	color: var(--button-active-color);
	text-decoration: underline 2px;
}

.tab-underlined {
	color: var(--text-heading-color);
	text-decoration: underline 2px;
}

.tab-simple:active {
	color: var(--text-main-color);
}
