.project {
	display: flex;
	align-items: center;
	place-content: space-between;
	block-size: 100%;
	padding: 0 10px;
	color: var(--text-heading-color);
	font-weight: 400;
	font-size: 14px;
	background-color: white;
}

.project-name:hover {
	text-decoration: underline;
}

.project-name:focus {
	text-decoration: underline;
}
