.footer {
	display: flex;
	justify-content: center;
	gap: 20px;
	inline-size: 100%;
	padding: 12px 0;
	color: var(--text-additional-color);
	font-size: 12px;
	letter-spacing: 0.03em;
	border-top: 1px solid var(--header-main-color);
}

.footer p {
	display: block;
}
