.button {
	gap: 8px;
	color: var(--button-test-color);
	background: var(--button-common-color);
	border: none;
	border-radius: 4px;
	box-shadow:
		0 1px 1px rgb(0 0 0 / 10%),
		0 0 0 1px rgb(70 79 96 / 16%);
}

.button:focus {
	outline: none;
}

.button:hover {
	outline: none;
}

.button:active {
	outline: none;
}

.buttonSmall {
	padding: 2px 4px;
}

.buttonMedium {
	padding: 2px 8px;
}

.buttonLarge {
	padding: 6px 12px;
}

.buttonSmallPlus {
	padding: 2px 4px;
	padding-left: 36px;
	background-image: url('../lib/icons/add-white.svg');
	background-repeat: no-repeat;
	background-position: 2px 50%;
}

.buttonLargePlus {
	padding: 6px 12px;
	padding-left: 36px;
	background-image: url('../lib/icons/add-white.svg');
	background-repeat: no-repeat;
	background-position: 12px 50%;
}

.isShadowed {
	transition: all 0.3s ease-out;
}

.isShadowed:focus {
	outline: none;
	box-shadow: 0 0 0 4px var(--button-shadow);
}

.buttonCommon {
	color: var(--text-main-color);
	background-color: var(--button-common-color);
	transition: all 0.5s ease-out;
}

.buttonCommon:hover {
	color: var(--background);
	background-color: var(--button-common-hover);
}

.buttonCommon:active {
	color: var(--background);
	background-color: var(--button-common-hover);
}

.buttonDisabled {
	cursor: url('../lib/icons/Arrow.svg'), auto;
	color: var(--button-shadow);
	background-color: var(--background);
}

.buttonTransparent {
	background: transparent;
	border: none;
	color: inherit;
	transition: all 0.5s ease-out;
}
