.input {
	border: none;
	outline: none;
	box-shadow:
		0 1px 2px rgb(0 0 0 / 6%),
		0 0 0 1px rgb(134 143 160 / 16%);
}

.input:focus {
	box-shadow:
		0 1px 2px rgb(0 0 0 / 6%),
		0 0 0 1px rgb(134 143 160 / 40%);
}

.input:disabled {
	background: var(--section-color);
	box-shadow: 0 0 0 1px rgb(134 143 160 / 24%);
}

.input-search-left {
	padding-left: 36px;
	background-image: url('../lib/icons/search.svg');
	background-repeat: no-repeat;
	background-position: 12px 50%;
}
