.header {
	position: fixed;
	top: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	inline-size: 100%;
	block-size: var(--header-width);
	color: var(--header-accent-color);
	background: var(--header-main-color);
}

.header-avatar {
	border-radius: 50%;
}

.header-block {
	display: flex;
	gap: 14px;
	padding: 0 12px;
	place-items: center;
}

.header-select {
	background: transparent;
}
